<launch>
<machine name="a230-pc89"
      address="a230-pc89"
      user="felix"
      env-loader="~/catkin_ws/src/multiPortRos/devel/master_a230-pc89_env.sh"
      default="true"
      />
<machine name="a230-pc005"
      address="a230-pc005"
      user="felix"
      env-loader="~/catkin_ws/src/multiPortRos/devel/a230-pc005_env.sh"
      default="false"
      />
      
<node machine="a230-pc005"
      name="cv_camera_arena_top"
      pkg="multiport_ros"
      type="jetson_camera_node.py"
      output="screen">
      <param name="sensor_id" value="0" />
      <param name="image_width" value="480" />
      <param name="image_height" value="480" />
      <param name="rate" value="30" />
      <param name="camera_topic" value="cv_camera_arena_top" />
      <param name="camera_frame_id" value="cv_camera_arena_top" />
      </node>

</launch>